* {
  margin: 0;
  padding: 0;
}
.sky {
  background-image: url("car files/background.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
}
.trees {
  background-image: url("car files/trees.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: absolute;
  bottom: 31vh;
}
.track {
  background-image: url("car files/track.png");
  height:30vh;
  width: 900vw;
  background-size: cover;
  position: absolute;
  bottom: 1vh;
  left: 0vw;
  animation: carMove linear .40s infinite;
}
.car {
  background-image: url("car files/car_body.png");
  height: 100px;
  width: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 84px;
  bottom: 210px;
}
.wheel1 img {
  width: 77px;
  position: relative;
  top: 38px;
  left: 42px;
  animation: wheelrotate linear 0.8s infinite;
}
.wheel2 img {
  width: 77px;
  position: relative;
  top: -39px;
  left: 235px;
  animation: wheelrotate linear 0.8s infinite;
}

@keyframes wheelrotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes carMove {
  100% {
    transform: translateX(-500vw);
  }
}
