* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  animation: trackshake linear 3s infinite;
}
.sky {
  background-image: url("car files/background.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
}
.trees {
  background-image: url("car files/trees.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: absolute;
  bottom: 31vh;
}
.track {
  background-image: url("car files/track.png");
  height: 30vh;
  width: 900vw;
  background-repeat: repeat-x;
  background-size: cover;
  position: absolute;
  bottom: 1vh;
  left: 0vw;
  animation: carMove linear 0.4s infinite;
}
.car {
  background-image: url("car files/car_body.png");
  height: 100px;
  width: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 84px;
  bottom: 210px;
  animation: carshake linear 0.3s infinite;
}
.wheel1 img {
  width: 69px;
  position: relative;
  top: 43px;
  left: 48px;
  animation: wheelrotate linear 0.8s infinite;
}
.wheel2 img {
  width: 68px;
  position: relative;
  top: -30px;
  left: 239px;
  animation: wheelrotate linear 0.8s infinite;
}

@keyframes wheelrotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes carMove {
  100% {
    transform: translateX(-500vw);
  }
}
@keyframes trackshake {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes carshake {
  0% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}
